<h2 class="text-center">Share your <strong id="red-word">House or Apartment</strong>.</h2>

<div id="wrapper">
  <div class="row">
    <div class="text-left form-login">
      <br>
      <%= simple_form_for @offer do |f| %>
      <%= f.error_notification %>
      <%= f.input :title, label: "Title", placeholder: "Studio Apartment Downtown" %>
      <%= f.input :description, placeholder: "King size bed, large living room...", :label_html => { :class => "label-css"} %>
      <%= f.input :address, label: "My House or Apartment is located at this address", placeholder: "Avenida Paulista 123" %>
      <%= f.input :capacity, label: "Capacity" %>
      <%= f.input :city, placeholder: "São Paulo" %>
      <%= f.input :state, priority: ["SP"] %>
      <%= f.input :price, label: "Price per night in BRL", placeholder: "150" %>
      <%= f.button :submit, "Share my House/Apartment", class: "btn btn-danger btn-lg"%>
      <% end %>
    </div>
  </div>

</div>
</div>
